/* .hahmlet {
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
} */


html {
    font-size: 16px;
    background-color: transparent;
    color: #0a0a0a;
    scroll-behavior: smooth;
}

body {
    font-family: "Hahmlet", serif;
    color: var(--mcolor--)#D14900;
    color: var(--scolor--)#FFD22A;
    overflow-x: hidden;
    position: relative;
}

.t_hidden {
    display: block;
    width: 1px;
    height: 1px;
    font-size: 0;
    overflow: hidden;
    position: absolute;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    transition: top 0.2s ease-in-out;
}

.i_header {
    height: 100%;
    max-width: 1540px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    z-index: 999;
    padding: 0 3rem;
}

.i_header .logo {
    font-size: 2rem;
    font-weight: 900;
}

.i_header .menu {
    display: flex;
    font-size: 1.2rem;
    gap: 4rem;
    font-weight: 700;
}

.nav-up {
  top: -60px;
}

.i_header .h_btn {
    width: 32px;
    height: 24px;
    position: relative;
    font-size: 1.5rem;
    display: none;
    cursor: pointer;

}

.i_header .h_btn .site {
  width: 100%;
  height: 100%;
  cursor: pointer;

}

.i_header .h_btn .site .ham {
  width: 100%;
  height: 100%;
    display: block;
}

.i_header .h_btn .site .ham .hambar {
  width: 32px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.i_header .h_btn .site .ham .hambar span {
  display: inline-block;
  content: "";
  width: 28px;
  height: 4px;
  background-color: #fff;
  border-radius: 2rem;
}


.i_header .h_btn .site .sitemap {
    position: absolute;
    top: 40px;
    right: -30px;
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    padding: 0 1rem;
    display: none;
}

.i_header .h_btn .site .sitemap li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 1rem;
}

.i_header .h_btn .site .sitemap li a {
    display: block;
}


#section1 {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #0a0a0a;
    position: relative;
}

.typeeffect {
    font-weight: 100;
    font-size: 4vw;
    font-weight: 700;
    color: #FFD22A;
}

.typeeffect br {
    display: none;
}


#section1 .scrollev {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
}

#section1 .scrollev .arrow_div{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 22px;
  height: 22px;
  color: #fff;
  margin-top: 1rem;
}

#section1 .scrollev .arrow_div .arrow{
  position: absolute;
  opacity: 1;
}

#section1 .scrollev .arrow_div .arrow:first-child{
  animation: motion 2s ease-out 0s infinite;
}

#section1 .scrollev .arrow_div .arrow:last-child{
  animation: motion 2s ease-out 1s infinite;
  opacity: 0;
}

@keyframes motion{
  25%{
    opacity: 1;
  }
  50%{
    opacity: 1;
    transform: translateY(15px);
  }
  100%{
    opacity: 0;
    transform: translateY(30px);
  }
}

.textbox {
    width: 100%;
    max-width: 1540px;
    margin: 10rem auto;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

.textbox .left_title h3 {
    font-size: 3rem;
    line-height: 160%;
    margin-bottom: 6rem;
}

.textbox .left_title .orange {
    color: #D14900;
}

.textbox .left_title p {
    font-size: 1.8rem;
    line-height: 160%;
    font-weight: 600;
}

.textbox .right_title {
    width: 50%;
    font-size: 1.2rem;
    line-height: 180%;
}


.profile {
    width: 100%;
    max-width: 1540px;
    margin: auto;
    padding: 8rem 3rem;
    padding-top: 3rem;
}

.title_orange {
    font-size: 4rem;
    font-weight: 900;
    color: #D14900;
    margin-bottom: 4rem;
}

.profile .profilewrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile .profilewrap .pro_photo {
    width: 25%;
    margin-right: 4rem;
}

.profile .profilewrap .pro_photo .proimg {
    box-shadow: 4px 4px 5px #d4d3d373;
    border-radius: 20px;
    overflow: hidden;
}

.profile .profilewrap .pro_photo .pro_phototext {
  padding-left: 1rem;
  text-align: left;
}

.profile .profilewrap .pro_photo .pro_phototext .pro_phototlist {
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
    font-size: 1rem;
}

.profile .profilewrap .pro_photo .pro_phototext .pro_phototlist span {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    width: 60%;

}

.profile .profilewrap .pro_photo .pro_phototext .pro_phototlist p {
    width: 30%;
    font-weight: 700;
}
.profile .profilewrap .pro_photo .pro_phototext .pro_phototlist span {
  width: 70%;
}

.profile .profilewrap .pro_photo .pro_phototext .name {
  width: 100%;
    margin: 2.5rem 0;
    font-size: 2rem;
    font-weight: 700;
}


.profile .profilewrap .pro_textbox {
    display: flex;
    justify-content: space-between;
}

.profile .profilewrap .pro_title {
    font-size: 1.5rem;
    color: #D14900;
    margin-bottom: 2rem;
}

.profile .profilewrap .pro_textbox .text_left {
    width: 50%;
    margin-right: 4rem;
}

.profile .profilewrap .pro_textbox .text_right {
    width: 50%;
}


.pro_education,
.pro_exprience,
.pro_license {
    margin-bottom: 4rem;
}

.profile .profilewrap .pro_textbox .pro_list .p_list {
    display: flex;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.profile .profilewrap .pro_textbox .pro_list .p_list p {
    width: 30%;
    font-weight: 400;
    color: #999;
}

.profile .profilewrap .pro_textbox .pro_list .p_list span {
    width: 70%;
    color: #0a0a0a;
    font-weight: 500;
    line-height: 170%;
}

.pro_skills .ski_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

.portfolio {
    width: 100%;
    background-color: #0a0a0a;
    margin-bottom: 10rem;
}

.portfolio .port_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1540px;
    margin: auto;
    padding: 5rem 3rem;
}

.portfolio .port_wrap .port_box {
    height: 85vh;
}

.portfolio .port_wrap .title_yellow {
    color: #FFD22A;
    font-size: 4rem;
}

.portfolio .port_wrap .port_list {
    color: #fff;
}

.portfolio .port_wrap .port_list li:not(:last-child) {
    margin-bottom: 2rem;
}

.portfolio .port_wrap .port_list li a {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.portfolio .port_wrap .port_list li a h3 {
    font-size: 1.8rem;
    font-weight: 900;
    margin-right: 2rem;
    transition: 0.3s;
}

.portfolio .port_wrap .port_list li a .yellow {
    color: #FFD22A;
    margin-left: 1rem;
}

.project {
    width: 100%;
    max-width: 1540px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}


.project .project_wrap {
    width: 100%;
    overflow: hidden;
    padding-bottom: 12rem;
    padding-top: 5rem;
}

.project .project_wrap .project_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project .project_wrap .project_box .project_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-right: 3rem;
}

.project .project_wrap .colortitle {
    color: #D14900;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.project .project_wrap .project_text .project_title {
    font-size: 2rem;
}

.project .project_wrap .project_text .project_title h3 {
    font-size: 2.3rem;
    font-weight: 700;
    margin-top: 1rem;
}

.project .project_wrap .long_title {
    color: #1A2755;
}
.project .project_wrap .gumi_title {
    color: #007bff;
}

.project .project_wrap .sid_title {
    color: #91C788;
}
.project .project_wrap .mbti_title {
    color: #dd5190;
}
.project .project_wrap .photo_title {
    color: #19255a;
}

.project .project_wrap .project_text .project_t {
    font-size: 1rem;
    line-height: 180%;
    margin: 4rem 0;
}

.project .project_wrap .project_text .project_sub {
    overflow: hidden;
}

.project .project_wrap .project_text .project_subt .p_subt {
    display: flex;
    margin-bottom: 0.5rem;
}

.project .project_wrap .project_text .project_subt .p_subt .bold {
    width: 20%;
    font-weight: 700;
}

.project .project_wrap .project_text .project_subt .p_subt span {
    width: 80%;
}

.project .project_wrap .project_text .project_sub .gobtn {
    width: 100%;
    border: 1px solid #0000005d;
    border-radius: 20px;
    padding: 0.5rem 0;
    margin-top: 3rem;
    text-align: center;
    display: block;
    transition: 0.5s;
    cursor: pointer;
}

.project .project_wrap .project_text .project_subt .gobtn a {
    display: block;
    text-align: center;
    font-weight: 700;
}

.project .project_wrap .project_text .project_subt .orange {
    font-weight: 500;
    font-size: 0.9rem;
}

.project .project_wrap .branding .project_text{
    padding-right: 1.5rem;
}

.project .project_wrap .project_photo {
    width: 50%;
}

.project .project_wrap .project_photo img {
    border-radius: 20px;
}


.contact {
    width: 100%;
    background-color: #0a0a0a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 3rem;
    position: relative;
}


.contact .contact_wrap {
    width: 100%;
    max-width: 1540px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact .contact_left {
    width: 40%;
}

.contact .contact_left .title_yellow {
    color: #FFD22A;
    font-size: 3rem;
    margin-bottom: 4rem;
}



.contact .contact_wrap .contact_text {
    text-align: left;
}


.contact .contact_wrap .contact_text .contact_inner {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem 0;
    font-size: 1.2rem;
}

.contact .contact_wrap .contact_text .contact_inner .inner_list {
    display: flex;
    align-items: center;
}

.contact .contact_wrap .contact_text .contact_inner .inner_list span {
    width: 40%;
    font-weight: 700;
}

.contact .contact_wrap .contact_text .contact_inner .inner_list p {
    text-align: left;
}

.contact .contact_wrap .contact_text h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 180%;
    margin-bottom: 4rem;
}

.contact .contact_wrap .contact_text .contact_inner .inner_list .contact_btn {
    display: block;
    padding: 0.3rem 0.8rem;
    border: 1px solid #fff;
    cursor: pointer;
    background: none;
    color: #fff;
    transition: 0.4s;
}

footer {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0a0a0a;
    text-align: center;
    color: #fff;
    border-top: 1px solid #FFD22A;
    padding: 0 3rem;
}

footer .last_text {
    font-size: 3rem;
    color: #FFD22A;
    font-weight: 900;
    display: flex;
    align-items: center;
}

footer .last_text br {
    display: none;
}

.contact .popup {
    width: 30rem;
    height: 30rem;
    position: absolute;
    /* bottom: 30%; */
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    background-color: #fff;
    border-radius: 20px;
    z-index: 999;
    display: none;
}


.contact .popup .xbtn {
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 5%;
    right: 5%;
    background-image: url(../image/x_btn.svg);
    background-position: center;
    cursor: pointer;
}

.contact .popup .qrcode {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .popup .qrcode a img{
    width: 60%;
    margin: auto;
}

.contact .popup .qrcode p {
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    margin-top: 1.5rem;
    text-align: center
    ;
}


/* 미디어쿼리 */

@media screen and (max-width:1280px) {
    .i_header {
        padding: 0 2rem;
    }

    .textbox {
        padding: 0 2rem;
        margin: 8rem auto;
    }

    .profile {
        padding: 0 2rem;
        margin: 8rem auto;
    }

    .title_orange {
        font-size: 3.5rem;
        margin-bottom: 3.5rem;
    }

    .textbox {
        flex-direction: column;
    }

    .textbox .left_title {
        margin-bottom: 5rem;

    }

    .textbox .left_title h3 {
        margin-bottom: 2rem;
    }

    .textbox .left_title p br {
        display: none;
    }

    .textbox .right_title {
        width: 100%;
        font-size: 1.1rem;
    }

    .profile .profilewrap {
        max-width: 1000px;
        margin: auto;
        justify-content: center;
        align-items: flex-start;
    }
    
    .profile .profilewrap .pro_photo {
        width: 50%;
    }

    .profile .profilewrap .pro_photo .proimg img {
        width: 100%;
    }

    .profile .profilewrap .pro_photo .pro_phototext {
        width: fit-content;
    }

    .profile .profilewrap .pro_textbox {
        width: 50%;
        flex-wrap: wrap;
    }

    .profile .profilewrap .pro_textbox .text_left {
        width: 100%;
        margin-right: 0;
    }

    .profile .profilewrap .pro_textbox .text_right {
        width: 100%;
    }

    .profile .profilewrap .pro_textbox .pro_list .p_list p {
        width: 50%;
    }

    .pro_skills .ski_list {
        width: 90%;
    }

    .portfolio {
        margin-bottom: 8rem;
    }

    .portfolio .port_wrap {
        padding: 4rem 6rem;
    }

    .project {
        height: auto;
        /* min-height: none; */
        padding: 0 2rem;
    }

    .project .project_wrap {
      padding-bottom: 8rem;
      padding-top: 3rem;
  }

    .project .project_wrap .project_box .project_text {
        width: 40%;
    }

    .project .project_wrap .project_box .project_photo {
        width: 60%;
    }

    .project .project_wrap .project_box .branding {
      width: 55%;
    }

    .contact {
        padding: 4rem 2rem;
    }

    .contact_wrap {
        flex-direction: column;
    }

    .contact_wrap .contact_left {
        width: 100%;
    }

    .contact_wrap .contact_left .contact_photo {
        width: 90%;
        margin: auto;
        margin-bottom: 2rem;
    }

    .contact_wrap .contact_left .contact_text {
        width: 80%;
        margin: auto;
    }

    .contact_wrap .contact_left .contact_photo img {
        margin: auto;
    }

    footer {
        padding: 0 2rem;
    }
}

@media screen and (max-width:1024px) {

    html {
        font-size: 15px;
    }

    .typeeffect {
        font-size: 5vw;
        text-align: center;
    }

    .profile .profilewrap {
        flex-direction: column;
    }

    .profile .profilewrap .pro_photo {
        margin: auto;
        text-align: center;
    }

    .profile .profilewrap .pro_textbox {
        width: 100%;
        flex-wrap: nowrap;
        margin: auto;
        margin-top: 3rem;
        gap: 0 2rem;
    }

    .profile .profilewrap .pro_textbox .text_left {
        width: 50%;
    }

    .profile .profilewrap .pro_textbox .text_right {
        width: 50%;
    }

    .profile .profilewrap .pro_textbox .pro_list .p_list span {
        width: 70%;
        line-height: 160%;
    }

    .profile .profilewrap .pro_textbox .pro_list .p_list p {
        width: 40%;
    }

    .pro_skills .ski_list {
        width: 90%;
        margin: auto;
    }

    .portfolio .port_wrap {
        gap: 0 2rem;
    }

    .portfolio .port_wrap .title_yellow {
        font-size: 3.5rem;
    }

    .project .branding .project_box .project_text {
        margin-right: 0;
    }

    .project .project_wrap .project_box {
        flex-direction: column-reverse;
    }

    .project .project_wrap .colortitle {
text-align: center;    
margin-bottom: 3rem;
}

.project .project_wrap .project_text .project_title {
    text-align: center;
}

    .project .project_wrap .project_box .project_photo {
        width: 80%;
        margin: auto;
        margin-bottom: 2rem;
    }

    .project .project_wrap .project_photo img {
        width: 100%;
        margin: auto;
    }

    .project .project_wrap .project_box .project_text {
        width: 80%;
        margin: auto;
    }

    .project .project_wrap .project_box .project_t {
        margin: 2rem 0;
    }

    .project .project_wrap .project_text .project_subt .p_subt {
        font-size: 0.9rem;
    }

    .project .project_wrap .project_text .project_sub .gobtn {
        margin-top: 2rem;
    }


    footer .last_text {
        font-size: 2.5rem;
    }

}

@media screen and (max-width:767px) {

    html {
        font-size: 14px;
    }

    .i_header .logo {
        font-size: 1.8rem;
    }

    .i_header .logo span {
        display: none;
    }

    .i_header .menu {
        display: none;
    }

    .i_header .h_btn {
        display: block;
    }

    #section1 .parallax__item__text {
        font-size: 3.5rem;
    }

    .textbox .left_title {
        margin-bottom: 3rem;
    }

    .textbox .left_title h3 {
        font-size: 2.8rem;
        margin-bottom: 4rem;
    }

    .textbox .left_title p {
        font-size: 1.5rem;
    }

    .profile .profilewrap .pro_textbox .pro_list .p_list {
        align-items: center;
    }

    .portfolio .port_wrap {
        flex-direction: column;
    }

    .portfolio .port_wrap .title_yellow {
        font-size: 3rem;
        margin-bottom: 4rem;
    }

    .profile .profilewrap .pro_textbox {
        width: 100%;
        flex-direction: column;
    }

    .profile .profilewrap .pro_photo {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .profile .profilewrap .pro_textbox .pro_title {
        font-size: 1.3rem;
    }

    .profile .profilewrap .pro_textbox .text_left {
        width: 80%;
        margin: auto;
    }

    .profile .profilewrap .pro_textbox .text_right {
        width: 80%;
        margin: auto;
    }

    .profile .profilewrap .pro_textbox .pro_list .p_list {
        flex-direction: row;
        align-items: center;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .profile .profilewrap .pro_textbox .pro_list .p_list p {
        width: 40%;
    }

    .profile .profilewrap .pro_textbox .pro_list .p_list span {
        width: 60%;
    }

    .portfolio .port_wrap .port_list li a {
        font-size: 1.5rem;
    }

    .portfolio .port_wrap .port_list li a h3 {
        font-size: 1.8rem;
        margin-right: 1rem;
    }

    .project .project_wrap .project_box .project_text {
        width: 100%;
    }

    .project .project_wrap .project_box .project_photo {
      width: 100%;
    }

    .project .project_wrap .project_box .project_photo img {
      border-radius: 12px;
  }
  

    .project .project_wrap .project_box .project_tex .project_sub {
        font-size: 0.9rem;
    }

    .contact .contact_wrap .contact_text h3 {
        font-size: 1.3rem;
    }

    .contact .contact_left .contact_photo {
        width: 100%;
    }

    .contact .contact_text {
        width: 100%;
    }

    .contact .contact_wrap .contact_text .contact_inner {
        width: 100%;
        font-size: 1.1rem;
    }

    .contact .contact_wrap .contact_text .contact_inner .inner_list span {
        width: 25%;
    }

    .contact .popup {
        width: 20rem;
        height: 20rem; 
    }

    footer .last_text {
        font-size: 2.3rem;
    }

    footer .last_text br {
        display: block;
    }


}

@media screen and (max-width:575px) {

    #section1 .parallax__item__text {
        font-size: 2.8rem;
    }

    .profile .profilewrap .pro_textbox .text_left {
        width: 100%;
    }

    .profile .profilewrap .pro_textbox .text_right {
        width: 100%;
    }

    .portfolio .port_wrap {
        padding: 4rem 2rem;
    }


    .portfolio .port_wrap .port_list li a {
        font-size: 1.2rem;
    }

    .portfolio .port_wrap .port_list li a .yellow {
        margin-left: 0.5rem;
    }

    footer p {
        font-size: 0.9rem;
    }

    

}

@media screen and (max-width:400px) {

    .i_header {
        padding: 0 1.5rem;
    }

    .typeeffect br {
        display: block;
    }

    .textbox {
        padding: 0 1.5rem;
    }

    .textbox .left_title h3 {
        font-size: 2.5rem;
    }

    .textbox .left_title p {
        font-size: 1.3rem;
    }

    .textbox .right_title {
        font-size: 1rem;
    }

    .profile {
        padding: 0 1.5rem;

    }

    .profile .profilewrap .pro_photo {
        width: 100%;
    }

    .profile .profilewrap .pro_textbox {
        width: 100%;
    }

    .profile .profilewrap .pro_textbox .pro_list .p_list span {
        line-height: 180%;
    }

    .project .project_wrap .colortitle {
        font-size: 1.3rem;
        line-height: 160%;
    }

    .project .project_wrap .project_text .project_t {
        font-size: 1rem;
    }

    .project .project_wrap .project_text .project_title {
      font-size: 1.8rem;
    }

    .project .project_wrap .project_text .project_title h3{
      font-size: 2rem;
    }

    .contact .contact_wrap .contact_text h3 {
        font-size: 1.2rem;
    }

    .contact .contact_wrap .contact_text .contact_inner {
        font-size: 1rem;
    }

    .contact .contact_wrap .contact_text .contact_inner .inner_list span {
        width: 40%;
    }


    .contact .contact_wrap .contact_text .contact_inner .inner_list p {
        width: 50%;
    }

    footer .last_text {
        font-size: 2rem;
    }

    footer p {
        font-size: 0.8rem;
    }
}